<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Analysis</title>
    <style>
    </style>
</head>
<body>
    <h1>Book Analysis</h1>
    <p>Number of products with prices higher than &pound;30: {{ count }}</p>  <!-- Pound sign (£) encoded as HTML entity -->
</body>
</html>
